//
*********************************************
_   _              _   _                   _
| | | | ___ _   _  | |_| |__   ___ _ __ ___| |
| |_| |/ _ \ | | | | __| '_ \ / _ \ '__/ _ \ |
|  _  |  __/ |_| | | |_| | | |  __/ | |  __/_|
|_| |_|\___|\__, |  \__|_| |_|\___|_|  \___(_)
|___/
Looking at the source code,huh? Go Ahead!!
- Harsh
********************************************** 
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='Hi! I am a 16 year-old UI/UX designer and a front-end web developer from New Delhi. I am also a student at Sanskriti School and a core member of ProjectBeta, The tech club of my school. I have participated in various competitions. In my free time, I try to hone my web development skills and increase my knowledge for the ever growing domain of Computer Science. I can also be described as a footballer and a guy who is always interested in the technology.')
		meta(name='keywords', content='Harsh Vardhan Singhal, Harsh, Harsh Singhal, ProjectBeta, Sanskriti, Sanskriti School')
		meta(charset='utf-8')
		script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-176816231-1')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-176816231-1');
		script.
			document.getElementById("lastupdate").innerHTML = new Date(document.lastModified);
		link(rel='apple-touch-icon', sizes='180x180', href='Images/Favicons/apple-touch-icon.png')
		link(rel='icon', type='image/png', sizes='32x32', href='Images/Favicons/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='16x16', href='Images/Favicons/favicon-16x16.png')
		title Harsh Vardhan Singhal
		link(href='https://fonts.googleapis.com/css2?family=Oxygen&display=swap', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,400italic,500,100italic,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='manifest', href='manifest.json')
		link(href='https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto+Slab:wght@600&display=swap', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Dosis|Open+Sans', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lobster&family=Permanent+Marker&family=Shadows+Into+Light&display=swap', rel='stylesheet')
		link(href='styles.css', rel='stylesheet', type='text/css')
	body(onload='myFunction()')
		#Cursor.cursor
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		#loader.loader
			.loader-inner
				.loader-line-wrap
					.loader-line
				.loader-line-wrap
					.loader-line
				.loader-line-wrap
					.loader-line
				.loader-line-wrap
					.loader-line
				.loader-line-wrap
					.loader-line
		#mainBod.mainBod
			.navbar
				a.navbar-brand
					img(src='Images/Favicons/android-chrome-192x192.png', height='28', draggable='false')
				a.home-a(href='#home')
					strong Home
				a(href='#about')
					strong About Me
				a(href='#skills')
					strong Skills
				a(href='#contact')
					strong Contact Me
				.theme-switch-wrapper
					label.theme-switch(for='checkbox')
						input#checkbox(type='checkbox')
						.slider.round
			#home
				.heading.animated.fadeInDown
					center
						h1
							strong Harsh Vardhan Singhal
						br
						h3  A Student and a Web Developer
				.scroll-down
					center
						a(href='#about')
							i.fa.fa-long-arrow-alt-down
		center
			#about
				.about-head
					h2 About Me
					hr
				.writen
					p#intro
					center
						p
							| Hi and Welcome! I am a 16 year-old UI/UX designer and a front-end web developer. I am also a high school student at 
							a.f-link(href='https://sanskritischool.edu.in', target='_blank')
								strong Sanskriti School, Chanakyapuri
							|  and a core member of 
							a.f-link(href='https://projectbeta2019.herokuapp.com', target='_blank')
								strong ProjectBeta
							| , The Tech Club of my school. Along with my club members, I have participated in various interschool events and hackathons across Delhi. When I find time, I try to hone my web development skills and increase my knowledge for the ever growing domain of Computer Science. I can also be described as a footballer and a guy who is always interested in the "tech-thingy."
							br
							| ¯\_(ツ)_/¯
							br
					p
		center
			#skills
				.about-head
					h2 Skills
					hr
				.writen
					center
						ul
							li.icon
								center
									img#skill-img(src='Images/html1.png', draggable='false')
									span HTML
							li.icon
								center
									img#skill-img(src='Images/css.png', draggable='false')
									span CSS
							li.icon
								center
									img#skill-img(src='Images/boot1.png', draggable='false')
									span Bootstrap
							li.icon
								center
									img#skill-img(src='Images/jquery.png', draggable='false')
									span JQuery
							li.icon
								center
									img#skill-img(src='Images/python.png', draggable='false')
									span Python
							li.icon
								center
									img#skill-img(src='Images/React.svg.png', draggable='false')
									span ReactJS
							li.icon
								center
									img#skill-img-1(src='Images/node.png', draggable='false')
									span NodeJS
							li.icon
								center
									img#skill-img(src='Images/angular.png', draggable='false')
									span AngularJS
							li.icon
								center
									img#skill-img(src='Images/ros.png', draggable='false')
									span ROS
							center
								#contact
									.about-head
										h2 Let's Connect
										hr
									p You can connect with me through the follwing platforms.
									a.contico(href='mailto:reach.harsh.singhal@gmail.com', title='Gmail', rel='noopener', target='_blank')
										img(src='Images/gmail4.png', alt='Gmail Logo', draggable='false')
									a#git.contico(href='https://github.com/harsh778', title='Github', rel='noopener', target='_blank')
										i.fab.fa-github
									a.contico(href='https://www.instagram.com/_harsh.hhhh', title='Instagram', rel='noopener', target='_blank')
										img(src='https://d33wubrfki0l68.cloudfront.net/190fd88cc8b07b203c05509be6af3ac8d66b62d9/4b728/assets/img/networks/instagram.svg', alt='Instagram Logo', draggable='false')
								form
									input(placeholder='Name', name='name', required='', type='text')
									br
									input(placeholder='Email', name='email', required='', pattern='[^ @]*@[^ @]*', type='text')
									br
									textarea(placeholder='Feedback/Comment', required='', name='message')
									br
									input.button(type='submit', value='Submit')
		#end
			center
				.footer-text
					.footer-copy.font-alt
					br
					big
						p.footer-made
							strong
								| © 2020 </> with 
								i.fa.fa-heart(aria-hidden='true')
								|  by 
								a.harsh-f(href='#home', target='_blank')  Harsh Vardhan Singhal
					br
					br
					p.footer-text
						strong
							big
								| Source code available 
								a.f-link(href='https://github.com/harsh778/harsh778.github.io', target='_blank')
									strong here
							br
							br
					p.footer-text
						strong
							| Last indexed: 
							span#lastupdate
		script(src='script.js')
		script(src='app.js')
		script(src='sw.js')
