html
  body
    link(rel="apple-touch-icon" sizes="180x180" href="Images/Favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="Images/Favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="Images/Favicons/favicon-16x16.png")
    title ERROR 404
    link(href="404.css" rel="stylesheet" type="text/css")
    .error
      .wrap
        .404
          pre.
            
        br
        span.info
          br
          span.orange  </body>
          br
          span.orange </html>
